@page "/counter"
@rendermode InteractiveServer
@using ArchivosMan.Web.Components.Shared

<PageTitle>Contador</PageTitle>

<h1>Contador</h1>

<p role="status">Conteo actual: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Aumentar</button>
<button class="btn btn-outline-secondary" @onclick="DecrementCount">Disminuir</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        Console.WriteLine($"Antes de incrementar: {currentCount}");
        currentCount++;
    }

    private void DecrementCount()
    {
        Console.WriteLine($"Antes de disminuir: {currentCount}");
        currentCount--;
    }
}