<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            Reincorporándose al servidor...
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            Falló la reconexión... intentando de nuevo en <span id="components-seconds-to-next-attempt"></span> segundos.
        </p>
        <p class="components-reconnect-failed-visible">
            No se pudo volver a conectar.<br />Por favor, inténtelo de nuevo o recargue la página.
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            Reintentar
        </button>
        <p class="components-pause-visible">
            La sesión ha sido pausada por el servidor.
        </p>
        <p class="components-resume-failed-visible">
            No se pudo reanudar la sesión.<br />Por favor, inténtelo de nuevo o recargue la página.
        </p>
        <button id="components-resume-button" class="components-pause-visible components-resume-failed-visible">
            Reanudar
        </button>
    </div>
</dialog>
